<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.css}"
          rel="stylesheet" >
</head>
<body>

<div class="card">
    <div class="card-header">
        PROMEDIO DE NOTAS
    </div>
    <div class="card-body">
        <!-- th:action = (se usa @) resuelve una ruta definida en el controlador
             th:object = (se usa $)mapea un objeto enviado desde el contralador  -->
        <form th:action="@{/calcularpromedio}" method="post"
              th:object="${promediomodel}">
            <div class="mb-3">
                <label for="txtn1" class="form-label">NOTA1:</label>
                <input type="number" th:field="*{n1}" class="form-control" id="txtn1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="txtn2" class="form-label">NOTA2:</label>
                <input type="number" th:field="*{n2}" class="form-control" id="txtn2" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="txtn3" class="form-label">NOTA3:</label>
                <input type="number" th:field="*{n3}" class="form-control" id="txtn3" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="txtef" class="form-label">NOTA FINAL:</label>
                <input type="number" th:field="*{ef}" class="form-control" id="txtef" placeholder="name@example.com">
            </div>
            <button type="submit"
                    class="btn btn-primary">CALCULAR</button>
        </form>
        <div
             class="alert"
             role="alert">
            <span th:text="${resultado} ?: ''"></span>
        </div>
    </div>
</div>

</body>
</html>